<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Dulceria</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/}">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/024/095/801/small_2x/cinema-film-tape-reel-free-png.png"
                                         alt="Inicio" width="20" height="20"/> 
                                    CinemaPlus
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/cartelera}">Peliculas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Promociones}">Promociones</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/Dulceria}">Dulcería</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/CinePlus}">CinePlus+</a>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <div class="m-0 border-0" >
                                <a class="btn btn btn-danger" th:href="@{/Registro}">Regitrarse</a>
                                <a class="btn btn btn-danger" th:href="@{/InicioSesion}">Iniciar sesion</a> 
                            </div>                            
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <div class="navbar navbar-expand-lg" style="background-color: gray; height:  80px"> 
        </div>
        <div class="navbar navbar-expand-lg" style="background-color: gainsboro; height:  85px">\
            <div class="row container">
                <div style="color: red">
                    <br/>
                    <h3 class="col">Palomitas - bebidas - confiteria</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="vh-75 d-flex align-items-center justify-content-center">
                <div class="row">
                    <div class="col">
                        <div class="card text-center">
                            <div class="card-body">
                                <p style="color: red">__________________________________________________________________________________________________________________________________________________</p>
                                <div class="row">
                                    <div class="col">
                                        <img src="https://decopeques.com/wp-content/uploads/2016/04/cine-infantil-el-cazador-y-la-reina-del-hielo.jpg" width="400px" height="220px"/>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Combo personal: Palomitas y refresco medianos</p>
                                        <a href="#" class="btn btn-danger">Seleccionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <p style="color: red">__________________________________________________________________________________________________________________________________________________</p>
                                <div class="row">
                                    <div class="col">
                                        <img src="https://decopeques.com/wp-content/uploads/2016/04/cine-infantil-el-cazador-y-la-reina-del-hielo.jpg" width="400px" height="220px"/>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Combo personal: Palomitas y refresco medianos</p>
                                        <a href="#" class="btn btn-danger">Seleccionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <p style="color: red">__________________________________________________________________________________________________________________________________________________</p>
                                <div class="row">
                                    <div class="col">
                                        <img src="https://decopeques.com/wp-content/uploads/2016/04/cine-infantil-el-cazador-y-la-reina-del-hielo.jpg" width="400px" height="220px"/>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Combo personal: Palomitas y refresco medianos</p>
                                        <a href="#" class="btn btn-danger">Seleccionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-center">
                            <div class="card-body">
                                <p style="color: red">__________________________________________________________________________________________________________________________________________________</p>
                                <div class="row">
                                    <div class="col">
                                        <img src="https://decopeques.com/wp-content/uploads/2016/04/cine-infantil-el-cazador-y-la-reina-del-hielo.jpg" width="400px" height="220px"/>
                                    </div>
                                    <div class="col">
                                        <p class="card-text">Combo personal: Palomitas y refresco medianos</p>
                                        <a href="#" class="btn btn-danger">Seleccionar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
